<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<!-- Thêm phần connectionStrings để kết nối csdl
	     thay your_server_name bằng tên hoặc địa chỉ của SQL Server bạn đang sử dụng
		 thay your_database_name bằng Tên cơ sở dữ liệu 
		 thay your_username, your_password bằng Thông tin đăng nhập nếu bạn dùng SQL Server Authentication-->
	<connectionStrings>
		<add name="MyDatabaseConnection"
             connectionString="Server=your_server_name;Database=your_database_name;User Id=your_username;Password=your_password;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
